name: Haskell CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  stack:
    name: ${{ matrix.os }} / stack
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v2
      - id: setup-haskell
        uses: haskell/actions/setup@v1
        with:
          enable-stack: true
          stack-no-global: true
          stack-version: latest

      - name: Cache
        uses: actions/cache@v2
        env:
          cache-name: cache-stack
        with:
          path: ${{ steps.setup-haskell.outputs.stack-root }}
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/stack.yaml') }}-${{ hashFiles('**/package.yaml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install dependencies
        run: stack build --flag pirec:release --test --bench --no-run-tests --no-run-benchmarks --only-dependencies
      - name: Build
        run: stack build --flag pirec:release --test --bench --no-run-tests --no-run-benchmarks
      - name: Test
        run: stack test --flag pirec:release
